<div class="container mt-5">
    <h1 class="text-center">Meni</h1>
    <div class="list-group">
      <a href="http://localhost:4200/decorator" class="list-group-item list-group-item-action">Profil</a>
      <a href="http://localhost:4200/decoratorAppointments" class="list-group-item list-group-item-action">Zakazivanja</a>
      <a href="http://localhost:4200/decoratorMaintenance" class="list-group-item list-group-item-action">Odrzavanja</a>
      <a href="http://localhost:4200/decoratorStatistics" class="list-group-item list-group-item-action">Statistika</a>
    </div>
  </div>