<div class="container mt-5">
    <h3 class="text-center">Promena lozinke</h3>
    <form>
      <div class="form-group">
        <label for="username">Korisnicko ime:</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username">
      </div>
      <div class="form-group">
        <label for="oldPassword">Stara lozinka:</label>
        <input type="password" id="oldPassword" class="form-control" [(ngModel)]="oldPassword" name="oldPassword">
      </div>
      <div class="form-group">
        <label for="newPassword1">Nova lozinka:</label>
        <input type="password" id="newPassword1" class="form-control" [(ngModel)]="newPassword1" name="newPassword1">
      </div>
      <div class="form-group">
        <label for="newPassword2">Nova lozinka:</label>
        <input type="password" id="newPassword2" class="form-control" [(ngModel)]="newPassword2" name="newPassword2">
      </div>
      <button type="button" class="btn btn-primary" (click)="changePassword()">Promeni lozinku</button>
      <p class="text-danger mt-3">{{error}}</p>
    </form>
  </div>