<div class="container mt-5">
    <h1 class="text-center mb-4">Meni</h1>
    <div class="list-group">
      <a href="http://localhost:4200/owner" class="list-group-item list-group-item-action">Profil</a>
      <a href="http://localhost:4200/ownerFirms" class="list-group-item list-group-item-action">Firme</a>
      <a href="http://localhost:4200/ownerAppointments" class="list-group-item list-group-item-action">Zakazivanja</a>
      <a href="http://localhost:4200/ownerMaintenance" class="list-group-item list-group-item-action">Odrzavanja</a>
    </div>
  </div>