<div class="container mt-5">
  <div class="d-flex justify-content-between mb-3">
    <h1 class="text-center flex-grow-1">Zakazivanja</h1>
    <div>
      <b><a href="http://localhost:4200/ownerMeni" class="btn btn-link">Meni</a></b>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Datum zakazivanja</th>
        <th>Datum pocetka radova</th>
        <th>Naziv firme</th>
        <th>Usluge</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let renovation of renovations">
        <td>{{ renovation.now | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{ renovation.date | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{ renovation.firm }}</td>
        <td>
          <ul class="list-unstyled mb-0">
            <li *ngFor="let usluga of renovation.usluge">{{ usluga.name }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>